<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ge.mov.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.IntroActivity"></activity>
        <activity android:name=".ui.activity.ApplicationSetupActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2337439332290274~5627471905" />

        <activity android:name=".ui.fragment.SavedMoviesFragment" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="layoutDirection|locale" />
        <activity
            android:name=".ui.activity.WatchActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".ui.activity.MovieActivity"
            android:configChanges="layoutDirection|locale" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="layoutDirection|locale" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>